body {

    font-family: 'Titillium Web', sans-serif;

}

header {
    width: 100%;
    height: 596px;
    background-color: #87509c;
}

.logo {
    padding-left: 210px;
    padding-top: 60px;
    float: left;
}

nav {

    float: right;
    padding-top: 60px;
    padding-right: 170px
}

nav li {
    display: inline-block;

}

nav button {
    font-family: 'Titillium Web';
    background: transparent;
    color: white;
    border: 0;
}

.hi_there {
    padding-top: 240px;
    text-align: center;
    font-size: 42px;
    line-height: 48px;
    font-weight: 700;
    color: white;
    font-family: 'Titillium Web';
}

.big_button {
    text-align: center;
    padding-top: 65px;
}

/*main*/
/*sevice*/
.service {
    min-height: 750px;
    background-color: #17c2a4;
}

.service_h2 {
    padding-top: 120px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 70px;
}

.bottom_line {
    height: 4px;
    width: 87px;
    display: block;
    background-color: #14a58c;
    margin: 0 auto;
}

.service_text {
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding: 10px 0px 30px
}

.service_icons {
    text-align: center;
}

.service_icons li {
    width: 300px;
    text-align: center;
    display: inline-block;
    margin: 25px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
    text-align: center;

}

.service_icons h3 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.icon_text {
    margin: 15px;
}

/*team*/

.team {
    min-height: 915px;
    background-color: #e7f1f8;
}

.team_h2 {
    padding-top: 120px;
    color: #3c4761;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 30px;
    line-height: 70px;
}

.team_text {
    text-align: center;

    margin-top: 17px;
    color: #3c4761;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
}

.team_icons {
    text-align: center;
    padding-top: 40px;

}

.team_icons li {
    display: inline-block;
    text-align: center;
}

.team_arounds {
    height: 200px;
    width: 200px;
    background-color: #878787;
    border-radius: 50%;
    margin: 0 auto;
}

.team_icons_text {
    text-align: center;
    width: 300px;
    margin: 40px;


}

.team_icons_text h3 {
    font-size: 24px;
    line-height: 40px;
    color: #27283d;
    font-weight: 700;
    margin-top: 20px;
    text-transform: uppercase;
}

.team_profession {
    font-size: 16px;
    line-height: 18px;
    color: #30bae7;
}

.team_discription {
    color: #3c4761;
    font-size: 18px;
    line-height: 26px;

}