body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grid {
    background-color: black;
    color: white;
    grid-column-start: 2;
    grid-row-start: 1;
}
