/* 
specs */
body {
    font-family: 'Merriweather', serif;
    color: white;

}

h1 h2 h3 h4 h5 h6 {
    color: white;
    font: 'Merriweather', serif;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    line-height: 90px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
}

.orange {
    color: #f7ac53;
}

/* 
scrn1
*/

.scrn1 {
    background-image: url("Background.png");
    width: 100%;
    min-height: 1000px;
}

.scrn1-h1 {

    margin-top: 25%;

    text-align: center;


}

.scrn1-h1-box {
    margin: 0 auto;
    border: 1px solid rgba(143, 143, 143, 0.5);
    text-align: center;
}

.scrn1-h1-box2 {
    padding-top: 20px;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.scrn1-ul {
    text-align: center;
}
.menu11 {
    margin-top: 20px;
}
.menu11 li {
    margin: 0 5px;
    display: inline;
}

