/* 
specs */
body {
    font-family: 'Merriweather', serif;
    color: white;

}

h1 h2 h3 h4 h5 h6 {
    color: white;
    font: 'Merriweather', serif;
}

h1 {
    font-size: 55px;
    font-weight: 400;
    line-height: 90px;
}

h2 {
    font-size: 40px;
    font-weight: 400;
    line-height: 65px;
}
h3 {
    font-size: 30px;
    font-weight: 400;
    line-height: 65px;
}

.bck-orange {
    background-color: #f7ac53;;
}

.orange {
    color: #f7ac53;
}

/* 
scrn1
*/

.scrn1 {
    background-image: url("Background.png");
    width: 100%;
    min-height: 1000px;
}

.scrn1-h1 {

    margin-top: 25%;

}

.scrn1-h1-box {
    width: 750px;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid rgba(143, 143, 143, 0.5);

}

.weare {
    margin-top: 30px;
}

.scrn1-ul {
    text-align: center;
}

.menu11 {
    margin-top: 20px;
}

.menu11 li {
    margin: 0 5px;
    display: inline;
}

.arrow {
    padding-top: 215px;
}

.bottom-block {
    padding-top: 65px;
}

.arrow-right {
    margin: 13px;
}

/*scrn2*/
.scrn2 {
    background-color: #202020;;
    text-align: center;
}

.line-vert {
    margin: 0 auto;
    height: 150px;
    width: 2px;
}

.ourservices {
    padding-top: 25px;
}
.scrn2-ul {
    margin-top: 166px;
    margin-bottom: 150px;
}.scrn2-ul li {
   margin: 0 20px;
}